.shoe-site-logo {
  width: 20rem;
}

.site-button {
  width: 135px;
  height: 46px;
  border-radius: 5px;
  color: white;
  background-color: #3d4ff3;
}

.cart-img {
  width: 20%;
  height: 70%;
}

.custom-card,
.custom-card-footer {
  border: none;
}
